* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body { 
    
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  color: #e9e9e9;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


/* part of filter , input */
.game_name {
    margin: 40px ;
    width: 300px; height:100px;
    text-transform: capitalize;
    font-size: 2rem;
    text-shadow: 3px 1px 2px rgb(93, 122, 93);
}


.button-todo {
  color: #c4447a;
  background: #f7fffe;
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-todo:hover { 
    background-color: #c4447a;
    color: #f7fffe;
}

.todo_input , .button-todo { 
  border: none;
  background: white;
}

.todo_input {
  padding: 0.6rem 1.8rem;
  font-size: 1.7rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#todo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
#todo-form #filter-todo {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 1rem;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  border-radius: 10px;
  color: #c4447a;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #c4447a;
  cursor: pointer;
  pointer-events: none;
}



/* part of tasks */


.Tasks, .tasks-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks, .completed { 
  margin: 0.5rem 0  0.5rem  0.5rem ;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.73rem 1.5rem;
  border: 0;
  border-radius: 10px 0 0 10px;
  width: 12rem;
  overflow: hidden;
  transition: all 1s ease;
}

.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.tasks-list {
  min-width: 30%;
  list-style: none;
  border-radius: 10px;
  /* background-color: #130436; */
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.trash-btn ,.check-btn {
  color: #ffffff;
  background-color: red;
  padding: 1rem;
  border: 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 1rem;
}


.check-btn {
  background: rgb(11, 212, 162);
  border-radius: 0;
}



/* part of error */


.errorClass {
  padding: 10px;
  width: 10rem;
  background-color: #fa3b3bc1;
  border-radius: 14px;
  color: #ffffff;
  margin: 10px;
  animation: disappearing 6s ease ;
}

.ul-error {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}

#error{
  display: flex;
  justify-content: flex-start;
}

@-webkit-keyframes disappearing {

  0% { background-color: #fa3b3bc1;}
  
  100% { background-color: #fa3b3b00; display: none; color: #ffffff00;}
}